@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Questrial&display=swap');

body{ 
background-color: black;
}
.head, .nego, .domains{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head h1{
    font-family: 'Monoton', cursive;
    font-size:55px;
    font-weight: 100;
    text-shadow: 9px 9px 1px black;
    color: rgb(255 165 0);
    padding: 10px;

}
#desc{
    font-style: italic;
    font-weight: normal;
    font-size: 17px;
}
.domains a, .domains p{
    display: inline;
}
.domains{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.HNS{
    font-size: 30px;
    display: inline;
    color: red;
    font-weight: bold;
}
table{
    font-size: 20px;
    color: white;
}
td{
    margin-top:20px;
}
a{
   font-size: 20px;
    color:white;
}
