@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Questrial&display=swap');

body{ 
    background: url(./back.svg) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.head, .nego, .domains{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nego p{
    color: rgb(0, 0, 0);
    background-color: white;
    border: 3px solid #000000;
    padding: 10px;
    font-weight: bolder;
}
.head h1{
    font-family: 'Monoton', cursive;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 3px solid #ffffff;
    padding: 10px;
    border-radius: 10px;
}
.domains a{
font-family: 'Questrial', sans-serif;
    background-color: rgb(76 0 92);
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bolder;
    border: 3px solid #de74f3;
    border-radius: 20px;
}
.domains a:hover{
font-family: 'Questrial', sans-serif;
    background-color: aqua;
    color: black;
    transition: 0.3s;
    border: 3px solid #03a9f4;
}
.domains p{
font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight:500;
    font-size: 20px;
}
#desc{
    font-style: italic;
    font-weight: normal;
    font-size: 17px;
}
.domains a, .domains p{
    display: inline;
}
.domains{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.HNS{
    font-size: 30px;
    display: inline;
    color: red;
    font-weight: bold;
}
